@page "/vazife_ekle_guncelle/{vazifeLogRef:int}"
@page "/vazife_ekle_guncelle"

<HeaderSearchBar header="header"
                 ShowButtons="false" ShowFilterButton="false"
                 ShowSearchSection="false"></HeaderSearchBar>


<EditForm Model="record">

    @if (loadingCompleted == false)
    {
        <MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Indeterminate="true" Class="my-7" />
    }

    <div class="mt-5">
        <div class="form">
            <div class="form-group">

                <div class="row">

                    <div class="col-md-3">
                        <label>Bitirme Tarih</label>
                        <InputDate @bind-Value="record.SonTarih" class="form-control"></InputDate>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Başlık</label>
                        <InputText @bind-Value="record.Baslik" class="form-control"></InputText>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Açıklama</label>
                        <InputTextArea rows="5" @bind-Value="record.Aciklama" class="form-control"></InputTextArea>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label>Atanacak Kişi</label>
                        <select class="form-control" @bind="record.AtananKisi">
                            @if (kullanicilar != null)
                            {
                                <option value="-1">Seçiniz</option>
                                @foreach (var item in kullanicilar)
                                {
                                    <option value="@item.KullaniciAdi">@item.KullaniciAdi (@item.MailAdres)</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label>Önceliklendirme</label>
                        <select class="form-control" @bind="record.Oncelik">
                            <option value="-1">Seçiniz</option>
                            <option value="1">Düşük</option>
                            <option value="2">Orta</option>
                            <option value="3">Yüksek</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <MudSwitch @bind-Checked="record.YapildiMi" Label="Yapıldı" Color="Color.Success" />

                    </div>
                </div>
            </div>

            <div class="form-group">
                <MudButton Disabled="@_processing" OnClick="ValidSubmit" Variant="Variant.Filled" Color="Color.Primary">
                    @if (_processing)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Kaydediliyor...</MudText>
                    }
                    else
                    {
                        <MudText>Kaydet</MudText>
                    }
                </MudButton>
                <MudButton Disabled="@_processing" OnClick="TakvimEkraniAc" Variant="Variant.Filled" Color="Color.Secondary">Takvime Ekle</MudButton>
                <CancelButtonComponent Caption="Vazgeç" OnClick="Vazgec" />
            </div>
        </div>
    </div>



</EditForm>


@code {

    [Parameter]
    public int? vazifeLogRef { get; set; }

    [Parameter]
    public int? modalForm { get; set; }

    [CascadingParameter] IModalService modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Inject]
    KullaniciHelper kullaniciHelper { get; set; }

    [Inject]
    ModalManager ModalManager { get; set; }

    [Inject]
    NavigationManager navigation { get; set; }

    [Inject]
    ISnackbar Snackbar { get; set; }

    [Inject]
    VazifeHelper dataHelper { get; set; }

    public VazifeDto record = new VazifeDto();

    private bool loadingCompleted = false;
    private bool _processing = false;
    public HeaderBarSearch header = new HeaderBarSearch();
    public List<SisKullaniciDto> kullanicilar = new List<SisKullaniciDto>();

    public async Task ValidSubmit()
    {
        var isUpdate = this.vazifeLogRef.HasValue;

        if (!isUpdate)
            await SaveRecord();
        else
            await UpdateRecord();

        await SaveCompleted();
    }

    private async Task Vazgec()
    {
        await SaveCompleted();
    }

    private async Task SaveCompleted()
    {
        if (modalForm.HasValue)
            await ModalInstance.CloseAsync();
        else
            navigation.NavigateTo("/vazife_listef");
    }

    public async Task LoadRecord()
    {
        try
        {
            this.record = await dataHelper.LoadRecord(this.vazifeLogRef.Value);
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, severity: Severity.Error);
        }
    }

    private async Task SaveRecord()
    {
        try
        {
            SubmitValidation();
        }
        catch (ClientException ex)
        {
            foreach (var item in ex.ErrorList)
            {
                Snackbar.Add(item, severity: Severity.Warning);
            }
            return;
        }
        catch (Exception)
        {
        }

        try
        {
            _processing = true;

            await dataHelper.SaveRecord(record);

            Snackbar.Add("Kayıt eklendi.", severity: Severity.Success);
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, severity: Severity.Error);
        }
        finally
        {
            _processing = false;
        }
    }

    private async Task UpdateRecord()
    {
        try
        {
            SubmitValidation();
        }
        catch (ClientException ex)
        {
            foreach (var item in ex.ErrorList)
            {
                Snackbar.Add(item, severity: Severity.Warning);
            }
            return;
        }
        catch (Exception)
        {
        }

        try
        {
            _processing = true;

            await dataHelper.UpdateRecord(record);

            Snackbar.Add("Kayıt güncellendi", severity: Severity.Success);

        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, severity: Severity.Error);
        }
        finally
        {
            _processing = false;
        }
    }

    public void SubmitValidation()
    {
        var err = new List<string>();

        if (string.IsNullOrWhiteSpace(record.Baslik))
            err.Add("Başlık boş geçilemez");

        if (record.Oncelik == -1)
            err.Add("Öncelik seçiniz");

        if (err.Count > 0)
        {
            var ex = new ClientException("Kayıt Hatası");
            ex.ErrorList = err;

            throw ex;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        header.HeaderText = "Görev ve Yapılacaklar";

        var isUpdate = this.vazifeLogRef.HasValue;

        loadingCompleted = false;

        await LoadKullanicilar();

        this.record.Oncelik = 1; // düşük öncelik
        if (isUpdate)
            await LoadRecord();

        loadingCompleted = true;
    }

    private async Task LoadKullanicilar()
    {
        try
        {
            kullanicilar = await kullaniciHelper.TumListe();
        }
        catch (Exception)
        {
        }
    }

    public async Task TakvimEkraniAc()
    {
        if (this.record.Logref <= 0)
        {
            Snackbar.Add("Vazifeyi kaydettikten sonra takvime ekleyebilirsiniz", severity: Severity.Info);
            return;
        }

        var opt = new ModalOptions();
        opt.ContentScrollable = true;
        opt.HideCloseButton = false;

        var prms = new ModalParameters();
        prms.Add("GorevTakvimi", new TakvimDto()
        {
            Tarih = record.SonTarih,
            Baslik = record.Baslik,
            Aciklama = record.Aciklama,
            Insuser = record.AtananKisi
        });

        var myForm = modal.Show<Pages.Takvim.Takvim_Ekle_Guncelle>("Takvim", prms ,opt);

        var result = await myForm.Result;

        if (!result.Cancelled)
        {
            {
                var takvimSecim = (TakvimDto)result.Data;
            }

        }
    }


}
