@page "/malzeme_markasec"

<div class="container">
    <EditForm Model="cari" OnValidSubmit="LoadList">
        <div class="form">

            <div class="form-group">

                <div class="row">
                    <div class="col-md-4">
                        <InputText @bind-Value="_searchString" class="form-control" />
                    </div>
                    <div class="col-md-8">
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.FindInPage"
                                   OnClick="LoadList" Color="Color.Primary" Size="Size.Medium">Bul</MudButton>
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add"
                                   OnClick="EkleSec" Color="Color.Tertiary" Size="Size.Medium">Ekle</MudButton>
                        <MudButton Variant="Variant.Filled"
                                   OnClick="Vazgec" Color="Color.Secondary" Size="Size.Medium">Vazgeç</MudButton>
                    </div>
                </div>

            </div>
        </div>
    </EditForm>

    @if (!loadingCompleted)
    {
        <MudProgressCircular Color="Color.Success" Indeterminate="true" />
    }

    <MudTable Items="@items" FixedFooter="true" FixedHeader="true" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<SpeCodesDto,bool>(FilterFunc1)">
        @*<ToolBarContent>
            <MudText Typo="Typo.h6">Malzeme Markaları</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString" Placeholder="Marka Ara" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>*@
        <HeaderContent>
            <MudTh>#</MudTh>
            <MudTh>Kodu</MudTh>
            <MudTh>Adı</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
                <MudFab Color="Color.Primary" StartIcon="@Icons.Filled.Add" Size="Size.Small" OnClick="(() => Sec(context))" />
            </MudTd>
            <MudTd DataLabel="Kodu">@context.SPECODE</MudTd>
            <MudTd DataLabel="Adı">@context.DEFINITION_</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager RowsPerPageString="Sayfa başına kayıt sayısı" />
        </PagerContent>
    </MudTable>
</div>

@code
{
    [CascadingParameter] IModalService modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Inject]
    ILocalStorageService LocalStorageService { get; set; }

    [Inject]
    HttpClient httpClient { get; set; }

    public List<SpeCodesDto> items { get; set; }

    public SpeCodesDto marka = new SpeCodesDto();
    public VCariKartsRequestDto cari = new VCariKartsRequestDto();

    private string _searchString;
    private bool _sortNameByLength;
    private bool loadingCompleted = false;

    private bool FilterFunc1(SpeCodesDto element) => FilterFunc(element, _searchString);

    private bool FilterFunc(SpeCodesDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.DEFINITION_ != null && element.DEFINITION_.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadList();
    }

    private async Task LoadList()
    {
        var selectedFirmaDonem = await LocalStorageService.GetItemAsync<SisFirmaDonemDto>(Consts.FirmaDonem);

        // if (selectedFirmaDonem.firma_no.Value.ToString() == Consts.MakpaFirmaNo || selectedFirmaDonem.firma_no.Value.ToString() == Consts.GASTROMOREFirmaNo)
        // {
        //     var ondegerFirmaDonem = await LocalStorageService.GetItemAsync<SisFirmaDonemDto>(Consts.OndegerFirmaDonem);
        //     if (ondegerFirmaDonem != null)
        //         selectedFirmaDonem = ondegerFirmaDonem;
        // }

        loadingCompleted = false;
        items = await httpClient.GetServiceResponseAsync<List<SpeCodesDto>>(UrlHelper.GetMarkaList +"?logofirmno=" + selectedFirmaDonem.logo_firma.Value);
        loadingCompleted = true;
    }

    public async Task Sec(SpeCodesDto secim)
    {
        await ModalInstance.CloseAsync(ModalResult.Ok<SpeCodesDto>(secim));
    }

    private async Task EkleSec()
    {
        var opt = new ModalOptions();
        
        var Form = modal.Show<Pages.Malzeme.Malzeme_MarkaEkle>("Marka Ekle", options: opt);
        var result = await Form.Result;

        if (!result.Cancelled)
        {
            if (result.Data != null)
            {
                var Secim = (SpeCodesDto)result.Data;
                await ModalInstance.CloseAsync(ModalResult.Ok<SpeCodesDto>(Secim));
            }

        }
    }

    public async Task Vazgec()
    {
        await ModalInstance.CloseAsync();
    }
}