@inherits LayoutComponentBase

<MudThemeProvider />
<MudSnackbarProvider />
<MudDialogProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">Prizma ERP</MudText>
        <MudSpacer />
        <MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick="ShowDonemFirmalar">@_selectedFirma</MudButton>

@*        <MudIconButton OnClick="GoToVazifeler">
            <MudBadge Content="_vazifeSayisi" Color="Color.Error" Overlap="true">
                <MudIcon Icon="@Icons.Material.Filled.Task" Color="Color.Warning" />
            </MudBadge>
        </MudIconButton>*@
            
        <MudText Typo="Typo.h5" Class="ml-3">&nbsp;</MudText>
        <MudMenu FullWidth="true">
            <ActivatorContent>
                <MudChip Icon="@Icons.Material.Filled.Person" Color="Color.Primary" Variant="Variant.Filled">@_avatarName</MudChip>
            </ActivatorContent>

            <ChildContent>
                <MudMenuItem OnClick="KullaniciProfil">Profil</MudMenuItem>
                <MudMenuItem OnClick="NavigateToExit">Çıkış</MudMenuItem>
            </ChildContent>
        </MudMenu>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Variant="DrawerVariant.Temporary">
        <NavMenu2 />
    </MudDrawer>
    <MudMainContent>
        <div class="content px-4">
            @Body
        </div>

    </MudMainContent>
</MudLayout>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    public string loginStr = "About";

    [Inject]
    ILocalStorageService localStorage { get; set; }

    [Inject]
    NavigationManager NavigationManager { get; set; }

    [Inject]
    ModalManager modalManager { get; set; }

    [Inject]
    HttpClient httpClient { get; set; }

    [Inject]
    VazifeHelper vazifeHelper { get; set; }

    bool _drawerOpen = true;

    string _avatarName = "";
    string _selectedFirma = "";

    int _vazifeSayisi = 0;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }


    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthState;

        if (authState.User.Identity.IsAuthenticated)
        {
            loginStr = await localStorage.GetItemAsStringAsync("kullanicikodu");
            loginStr = loginStr.Replace("\"", "");

            _avatarName = loginStr.ToUpper().ClearCharacters();

            var selectedFirmaDonem = await localStorage.GetItemAsync<SisFirmaDonemDto>(Consts.FirmaDonem);

            _selectedFirma = selectedFirmaDonem.aciklama;

            //_vazifeSayisi = await vazifeHelper.CountRecords(new VazifeRequestDto()
            //{
            //    User = loginStr
            //});
        }
        else
        {
            NavigationManager.NavigateTo("login");
        }
    }

    public async Task NavigateToExit()
    {
        var exitConfirmed = await modalManager.ShowConfirmationAsync("Çıkış", "Uygulamadan çıkmak üzeresiniz. Emin misiniz ?", "Çıkış Yap", "İptal");

        if (exitConfirmed)
        {
            await localStorage.RemoveItemAsync(Consts.KullaniciKodu);
            await localStorage.RemoveItemAsync(Consts.FirmaDonem);
            await localStorage.RemoveItemAsync(Consts.FirmaDonemYetki);
            await localStorage.RemoveItemAsync(Consts.Token);

            NavigationManager.NavigateTo("login");
        }

    }

    public async Task ShowKullaniciKart()
    {
        var kod = await localStorage.GetItemAsStringAsync(Consts.KullaniciKodu);
        kod = kod.Replace("'", "");

        var kullanici = await httpClient.GetServiceResponseAsync<SisKullaniciDto>("/api/kullanici/GetByKod?kod=" + kod);

        if (kullanici != null)
        {
            string bilgi = string.Format("{0}, E-Mail : {1}, Yetki Kodu : {2} Son Giriş Tarihi : {3}",
                kullanici.KullaniciAdi, kullanici.MailAdres, kullanici.KullaniciYetkiKodu, kullanici.SonGirisTarihi.Value);
            await modalManager.ShowMessageAsync("Kullanıcı Bilgi", bilgi);
        }
    }


    public void KullaniciProfil()
    {
        NavigationManager.NavigateTo("/kullanici_profil");
    }

    public void ShowDonemFirmalar()
    {
        NavigationManager.NavigateTo("/donemfirmasec");
    }

    private void GoToVazifeler()
    {
        NavigationManager.NavigateTo("/vazife_listef");
    }
}
