<EditForm Model="teklif">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mt-12">
        <div class="form">
            <div class="form-group">

                <div class="row">

                    <div class="col-md-4">
                        <label>Teklif No</label>
                        <InputText @bind-Value="teklif.Teklifno" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Teklif Tarihi</label>
                        <InputDate @bind-Value="teklif.Tarih" class="form-control"></InputDate>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label>Cari</label>
                <div class="row">
                    <div class="col-md-2">
                        <label>Cari Kodu</label>
                        <InputText @bind-Value="teklif.LcariKodu" class="form-control" placeholder="Cari Kodu" />
                    </div>
                    <div class="col-md-4">
                        <label>Cari Adı</label>
                        <InputText @bind-Value="teklif.LcariAdi" class="form-control" placeholder="Cari Adı" />
                    </div>
                    <div class="col-md-2">
                        <label>Cari Seçim</label>
                        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.FindInPage" OnClick="CariListesiAc" Color="Color.Primary">Cari</MudButton>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>Firma Yetkilisi</label>
                        <InputText @bind-Value="teklif.IlgiliAdi" class="form-control"></InputText>
                    </div>
                    <div class="col-md-4">
                        <label>Satış Temsilcisi</label>
                        <InputSelect @bind-Value="teklif.Lpersonelref" class="form-control">
                            @if (PersonelListesi != null)
                            {
                                @foreach (var item in PersonelListesi)
                                {
                                    <option value="@item.LOGICALREF">@item.DEFINITION_</option>
                                }
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>Teslim Şekli</label>
                        <InputSelect @bind-Value="teklif.TeslimSekli" class="form-control">
                            @if (TeslimSekliListesi != null)
                            {
                                @foreach (var item in TeslimSekliListesi)
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </InputSelect>
                    </div>

                    <div class="col-md-4">
                        <label>Teslim Tarihi</label>
                        <InputDate @bind-Value="teklif.TeslimTarihi" class="form-control"></InputDate>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>Ödeme Planı</label>

                        <InputSelect @bind-Value="teklif.LodemePlani" class="form-control">
                            @if (OdemePlaniListesi != null)
                            {
                                @foreach (var item in OdemePlaniListesi)
                                {
                                    <option value="@item.LOGICALREF">@item.DEFINITION_</option>
                                }
                            }
                        </InputSelect>
                    </div>
                    <div class="col-md-4">
                        <label>Proje Adı</label>
                        <InputText @bind-Value="teklif.Proje" class="form-control"></InputText>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <label>Açıklama</label>
                        <InputTextArea @bind-Value="teklif.Aciklama1" class="form-control"></InputTextArea>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="form-group">
        <SaveButtonComponent Caption="Kaydet" OnClick="ValidSubmit" />
        <CancelButtonComponent Caption="Vazgeç" OnClick="Vazgec" />
    </div>

</EditForm>

@code {
    [CascadingParameter] IModalService modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Inject]
    ISnackbar Snackbar { get; set; }

    [Inject]
    ModalManager ModalManager { get; set; }

    [Inject]
    NavigationManager navigation { get; set; }

    [Inject]
    HttpClient httpClient { get; set; }

    [Inject]
    ILocalStorageService LocalStorageService { get; set; }

    [Parameter]
    public int? logRef { get; set; }

    [Parameter]
    public EventCallback OnVazgecClicked { get; set; }

    public bool IsUpdate { get; set; }

    TeklifDto teklif = new TeklifDto();

    public List<string> TeslimSekliListesi { get; set; }

    public List<PersonelDto> PersonelListesi { get; set; }

    public List<OdemePlaniDto> OdemePlaniListesi { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        IsUpdate = logRef.HasValue;
        if (!IsUpdate)
            await TeklifNoUret();
    }

    protected override async Task OnInitializedAsync()
    {
        if (!IsUpdate)
        {
            teklif.Tarih = DateTime.Now;
        }

        await TeslimListesiCek();
        await PersonelListesiCek();
        await OdemePlaniCek();

        await GetTeklif();

    }

    public async Task GetTeklif()
    {
        try
        {
            if (logRef.HasValue == false)
                return;

            var selectedFirmaDonem = await LocalStorageService.GetItemAsync<SisFirmaDonemDto>(Consts.FirmaDonem);

            if (selectedFirmaDonem == null)
                throw new Exception("Firma Dönem Seçili değil");

            var result = await httpClient.GetServiceResponseAsync<TeklifDto>(UrlHelper.TeklifGetir +"?logref=" + logRef + "&firmaId=" + selectedFirmaDonem.firma_no);
            if (result != null)
            {
                teklif = result;
            }
        }
        catch (Exception ex)
        {
            await ModalManager.ShowMessageAsync("Hata", ex.Message);
        }
    }

    public async Task ValidSubmit()
    {
        if (IsUpdate)
            await UpdateTeklif();
        else
            await SaveTeklif();
    }

    public async Task CariListesiAc()
    {
        var cariForm = modal.Show<Pages.Cari.Cari_Sec>();
        var result = await cariForm.Result;

        if (!result.Cancelled)
        {
            if (result.Data != null)
            {
                var cariSecim = (CariKartDto)result.Data;
                teklif.LcariAdi = cariSecim.Adi;
                teklif.LcariKodu = cariSecim.Kodu;
                teklif.Cariref = cariSecim.Logref;
            }

        }
    }

    private async Task UpdateTeklif()
    {
        try
        {
            teklif.Upddate = DateTime.Now;
            teklif.Upduser = await LocalStorageService.GetItemAsync<string>(Consts.KullaniciKodu);

            var selectedFirmaDonem = await LocalStorageService.GetItemAsync<SisFirmaDonemDto>(Consts.FirmaDonem);

            if (selectedFirmaDonem == null)
                throw new Exception("Firma Dönem Seçili değil");

            var request = new TeklifRequestDto();
            request.Teklif = teklif;
            request.FirmaId = selectedFirmaDonem.firma_no.Value;

            var result = await httpClient.PostGetServiceResponseAsync<TeklifDto, TeklifRequestDto>(UrlHelper.TeklifGuncelle, request);

            Snackbar.Add("Teklif güncellendi", severity: Severity.Success);

            navigation.NavigateTo("/stek_listef_detay/" + result.Logref);

        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, severity: Severity.Error);
        }
    }

    private async Task SaveTeklif()
    {
        try
        {
            teklif.Insdate = DateTime.Now;
            teklif.Insuser = await LocalStorageService.GetItemAsync<string>(Consts.KullaniciKodu);
            teklif.Tarih = teklif.Tarih.HasValue ? teklif.Tarih : DateTime.Now;
            teklif.Saat = teklif.Saat.HasValue ? teklif.Saat : DateTime.Now;
            var selectedFirmaDonem = await LocalStorageService.GetItemAsync<SisFirmaDonemDto>(Consts.FirmaDonem);

            if (selectedFirmaDonem == null)
                throw new Exception("Firma Dönem Seçili değil");

            await TeklifNoUret();
            await LogRefUret();

            var request = new TeklifRequestDto();
            request.Teklif = teklif;
            request.FirmaId = selectedFirmaDonem.firma_no.Value;

            var result = await httpClient.PostGetServiceResponseAsync<TeklifDto, TeklifRequestDto>(UrlHelper.TeklifKaydet, request);

            Snackbar.Add("Teklif güncellendi", severity:Severity.Success);

            navigation.NavigateTo("/stek_listef_detay/" + result.Logref);

        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, severity: Severity.Error);
        }
    }

    public async Task Vazgec()
    {
        await OnVazgecClicked.InvokeAsync();
    }

    public async Task TeklifNoUret()
    {
        var result = await httpClient.GetServiceResponseAsync<string>("/api/helper/GenerateRef?table=teklif&keyField=teklifno");
        if (string.IsNullOrEmpty(result) == false)
        {
            teklif.Teklifno = result;
        }



    }

    public async Task LogRefUret()
    {
        var result2 = await httpClient.GetServiceResponseAsync<int>("/api/helper/RefNoAl?tablename=teklif");
        teklif.Logref = result2;

    }

    public async Task TeslimListesiCek()
    {
        try
        {
            var result = await httpClient.GetServiceResponseAsync<List<string>>("/api/helper/GetTeslimSekliList");
            if (result != null)
            {
                TeslimSekliListesi = result;
            }
        }
        catch (Exception)
        {

            throw;
        }
    }

    public async Task PersonelListesiCek()
    {
        try
        {
            var result = await httpClient.GetServiceResponseAsync<List<PersonelDto>>("/api/helper/GetPersonelList?logofirmno=1");
            if (result != null)
            {
                PersonelListesi = result;
            }
        }
        catch (Exception)
        {

            throw;
        }
    }

    public async Task OdemePlaniCek()
    {
        try
        {
            var result = await httpClient.GetServiceResponseAsync<List<OdemePlaniDto>>("/api/helper/GetOdemePlaniList?logofirmno=1");
            if (result != null)
            {
                OdemePlaniListesi = result;
            }
        }
        catch (Exception)
        {

            throw;
        }
    }
}
